<html>

<head>
  <title>查看背包</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/javascripts/main.js"></script>
  <audio id="audio" src="https://www.mboxdrive.com/571501__kagateni__cute2%20(mp3cut.net).mp3"> </audio>
</head>

<body>
    <h1>背包</h1>
    <p>背包容量 : ??</p>
    <table>
        <tr>
            <td>編號</td>
            <td>名稱</td>
            <td>屬性</td>
            <td>地區</td>
            <td style="color: crimson;">放生</td>
        </tr>
        <tr>
            <td>1</td>
            <td>皮卡丘</td>
            <td>雷</td>
            <td>我不知道</td>
            <td><input id='freed' type="button" name="放生" value="放生" onclick='playSound();' style="width: auto;"></input></td>
        </tr>
        <tr>
            <td>2</td>
            <td>小火龍</td>
            <td>火</td>
            <td>依然不知道</td>
        </tr>
         
    </table>
</hr>
<p><input type="button" value= "返回"  onclick='goback();'></input></p>
</body>

</html>
