.fire
{
    background-color:rgb(177, 100, 100);
    border-radius: 18px; border: 1px solid black;
    width: 36px;
    padding: 20px;
}

.water
{
    background-color:rgb(75, 138, 180);
    border-radius: 18px; border: 1px solid black;
    width: 25px;
    padding: 20px;
}

.tree
{
    background-color:rgb(48, 146, 56);
    border-radius: 18px; border: 1px solid black;
    width: 36px;
    padding: 20px;
}