@font-face {
  font-family: 'cwTeXYen';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.ttf) format('truetype');
}

.gameWin {
  position: relative;
  width: 100%;
  height: 100%;
  margin:0 auto;
  background-image: url( '/images/sky.png' );
  background-size: cover;
}

.gameWin iframe {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -64%);
  left: 50%; 
  display: block;
  background-image: url( '/images/back.png' );
  width: 13cm;
  height: 7.8cm;
  border: 5px solid black;
  border-radius:50px;
}

.gameWin img {
  position: relative;
  width: auto;
  height: 12cm;
  display:block;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%; 
}

body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'cwTeXYen';
  margin:0px;
  text-align: center;
  /*background:#fff url(gameboy.png) center center fixed no-repeat;
  background-size: 65%;*/
}

.game {
  padding: -20px 50px;
  font-size: 20px;
}

input {
  padding: 5px 15px;
  background: rgb(245, 243, 243);
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 30%;
}
input[type="text"],input[type="password"] {
  width: 50%;
}

.area {
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 30%;
  margin: 5px 0px;
}

table {
  width: 100%;
  font-size: 15px; 
  text-align: center;
  border: 1px solid #666;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background: #CCC
}
tr:nth-child(odd) {
  background-color: #FAFAFA;
}

tr, td {
  border: 1px solid #666;
}

td:hover {
  background-color: #E6FBFF;
}